%p#notice= notice

.section
  .fieldset
    %label Title:
    %div= @album.title
  .fieldset
    %label Author:
    %div= @album.author
  .fieldset
    %label Rating:
    %div= @album.rating
  .fieldset
    %label Text:
    %div= @album.text
  
  .actions
    = link_to 'Edit', edit_album_path(@album), class: 'btn btn-primary btn-lg btn-block' if current_user

    = link_to 'Back', albums_path, class: 'btn btn-info btn-lg btn-block'
